h1{
    background-color: rgb(20, 131, 159);
    border-radius: 20px;
    text-align: center;
}
h3{


}

h2{

color: rgb(0, 255, 47);
   
}
label{color: aquamarine;



}

.vidio {
    width: 1140px;
}






